# Redirect www to non-www
server {
    listen 80;
    listen [::]:80;
    server_name www.imas.ac.in;
    return 301 https://imas.ac.in$request_uri;
}

server {
    listen 80;
    listen [::]:80;
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    server_name imas.ac.in www.imas.ac.in;

    # Correct SSL files
    ssl_certificate     /etc/letsencrypt/live/imas.ac.in/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/imas.ac.in/privkey.pem;

    # CSP & security headers
    add_header Content-Security-Policy "default-src 'self' https:; script-src 'self' 'unsafe-inline' https://in8cdn.npfs.co https://widgets.in8.nopaperforms.com https://chatbot.in8.nopaperforms.com https://chatcdn.npfs.co https://www.googletagmanager.com https://www.google-analytics.com; style-src 'self' 'unsafe-inline' https:; img-src 'self' data: https:; frame-src https://widgets.in8.nopaperforms.com https://chatbot.in8.nopaperforms.com https://www.youtube.com; connect-src 'self' https://in8cdn.npfs.co https://widgets.in8.nopaperforms.com https://chatbot.in8.nopaperforms.com https://chatcdn.npfs.co https://www.googletagmanager.com https://www.google-analytics.com;" always;

    add_header X-Content-Type-Options "nosniff" always;
    add_header X-XSS-Protection "1; mode=block" always;
    add_header Referrer-Policy "no-referrer-when-downgrade" always;
    add_header X-Frame-Options ALLOWALL;

    # React app reverse proxy
    location / {
        proxy_pass http://127.0.0.1:3000/;
        proxy_http_version 1.1;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Host $host;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }
}
